.chat-page {
    grid-column: center-start / center-end;
    display: grid;
    padding-top: 8rem;
    overflow-y: hidden;
    grid-template-columns: 30% 70%; 
  
    .first-div {
      grid-column: 1 / 2;
    }
  
    .second-div {
      grid-column: 2 / 3; 
      
    }
  }
  
.chat-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
}

input {
  flex:auto;
  border-width: 1px;
  height: 30px;
  border-radius: 8px;
  margin: 0px 4px 0px 4px;
  padding: 16px;
}