@use '../abstracts' as *;

.skip-link {
  position: absolute;
  top: -4rem;
  left: 0;
  background-color: $color-secondary;
  color: $color-white;
  padding: $spacing-2 $spacing-4;
  z-index: 1000;
  transition: top 150ms ease-in-out;

  &:focus {
    top: 0;
  }
}
